<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <% s = 600/@board.size %>
<style>


    .hexagon {
        width: <%= s %>px;
        height:<%= s/2 %>px;
        background: #CCC;
        position: relative;
        display: inline-block;
        font-size: 8px;
        text-align: center;

    }

    .hexagon:before {
        content: "";
        position: absolute;
        top: -<%= s/4 %>px;
        left: 0;
        width: 0;
        height: 0;
        border-left: <%= s/2 %>px solid transparent;
        border-right: <%= s/2 %>px solid transparent;
        border-bottom: <%= s/4 %>px solid #CCC;
    }

    .hexagon:after {
        content: "";
        position: absolute;
        bottom: -<%= s/4 %>px;
        left: 0;
        width: 0;
        height: 0;
        border-left: <%= s/2 %>px solid transparent;
        border-right: <%= s/2 %>px solid transparent;
        border-top: <%= s/4 %>px solid #CCC;
    }

    .row {
        /*border: 1px solid black;*/
        margin-top: <%= s/4 %>px;
    }

    .red {
        background: red;
    }

    .red.hexagon:before {

        border-bottom: <%= s/4 %>px solid red;
    }

    .red.hexagon:after {
        border-top: <%= s/4 %>px solid red;
    }

    .blue {
        background: blue;
    }

    .blue.hexagon:before {

        border-bottom: <%= s/4 %>px solid blue;
    }

    .blue.hexagon:after {
        border-top: <%= s/4 %>px solid blue;
    }

    .hexagon:hover {
        background: chartreuse;
    }

    .hexagon:hover:before {
        border-bottom: <%= s/4 %>px solid chartreuse;
    }

    .hexagon:hover:after {
        border-top: <%= s/4 %>px solid chartreuse;
    }

    .log {
        border: 1px solid black;
        width: 400px;
        height: 200px;
        position: fixed;
        top: 0px;
        right: 0px;
        overflow: auto;
        overflow-x: hidden;

    }

    .notice {
        position: fixed;
        top: 10px;
        left: 50%;
        width: 16em;
        /*height: 18em;*/
        margin-left: -8em;
        border: 1px solid #ccc;
        background-color: #f3f3f3;
        z-index: 500;
        padding: 15px;
        text-align: center;
        vertical-align: middle;
        font-size: x-large;
        border-radius: 15px;
    }

    .status {
        position: fixed;
        top: 15px;
        right: 15px;;
        /*border: 1px solid black;*/
        z-index: 500;
        padding: 15px;
        text-align: center;
        vertical-align: middle;
        font-size: x-large;
        border-radius: 15px;
        color: white;
    }

    .shadow {
        /*-webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.86);*/
        /*-moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.86);*/
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.86);
    }

</style>
<script>

    function close(id) {
        var el = document.getElementById(id);
        el.style.display = 'none';
    }

</script>

<body style="padding: 15px; margin: 0px; border: 10px <%= me.color %> <%= (me == @board.current_player) ? "solid" : "dashed" %>">

<%
   def me
     @board.player(session['guid'])
   end

%>
<% if  flash[:notice] %>
    <div class="notice shadow" id="notice"><%= flash[:notice] %>
      <a href="javascript:close('notice');" class="close">X</a></div>
<% end %>
<!-- <div class="log">
  <ul>
    <% settings.store[:log].reverse.each do |log| %>
        <li> <%= log %> </li>
    <% end %>
  </ul>
</div> -->

<!--<div id="me">-->
<!--<ul>-->
<!--<li>guid : <%= session['guid'] %></li>-->
<!--<li>me :  <%= me.to_s %></li>-->
<!--</ul>-->


<!--</div>-->
<%#=
    me.color %>
<% if false %>
    <ul>
      <li><%= "Player 1 : #{@board.player1.g} (#{@board.player1.color})" %><%= if (me == @board.player1) then
                                                                                 " * You"
                                                                               end %></li>
      <li><%= "Player 2 : #{@board.player2.g} (#{@board.player2.color})" %><%= if (me == @board.player2) then
                                                                                 " * You"
                                                                               end %></li>
    </ul>
<% end %>

       Turn <%=@board.turn %><br/>
<div class="status " style="background-color: <%= @board.current_player.color %>">
  <% if (me == @board.current_player) %>
      Your turn
  <% elsif me.color != "black" %>
      Waiting for player  <br/> <%= @board.current_player.color %> to play...
      <script>

          $(getUpdate);
          function getUpdate() {
              $.getScript("/refresh/wait-turn")
                      .done(function (script, textStatus) {
                          console.log(textStatus);
                      })  ;
              setTimeout(getUpdate, 500);
          }
      </script>
  <% else %>
      It is the <%= @board.current_player.color %> player's turn.
      <script>

          $(getUpdate);
          function getUpdate() {
              $.getScript("/refresh/watch?turn=<%= @board.turn %>")
                      .done(function (script, textStatus) {
                          console.log(textStatus);
                      })
              setTimeout(getUpdate, 500);
          }
      </script>

  <% end %>
</div>

<%= @board.draw(s) %>


</body>
